<header class="site-header" style="border-bottom: 1px solid #eee;">
  <div class="wrapper" style="
      max-width: 1100px;
      margin: 0 auto;
      padding: 18px 80px;   /* 控制左移和右移距离 */
  ">
    {%- if page.url == "/" or page.url == "/index.html" -%}
      <span class="site-title" style="font-size: 22px; font-weight: 600;">
        Shuo Jiang
      </span>
    {%- else -%}
      <a class="site-title" rel="author" href="{{ '/' | relative_url }}" style="
          font-size: 22px;
          font-weight: 600;
          color: black;
          text-decoration: none;
      ">Shuo Jiang</a>
    {%- endif -%}
  </div>
</header>
